@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: Roboto;
}

.row {
	display: flex;
}

.cell {
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	background-color: white;
	margin: 0;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	font-family: sans-serif;
}

h1 {
	margin-bottom: 20px;
}