@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: Roboto;
}

.cell {
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	background-color: white;
	margin: 0;
  }